<div *ngIf="loading">Loading stock movements...</div>
<div *ngIf="error">{{ error }}</div>
<table *ngIf="!loading && !error">
  <thead>
    <tr>
      <th>Movement ID</th>
      <th>Warehouse ID</th>
      <th>Product ID</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movement of stockMovements">
      <td>
        <a [routerLink]="['/stock-movements', movement.movementID]">
          {{ movement.movementID }}
        </a>
      </td>
      <td>{{ movement.warehouseID }}</td>
      <td>{{ movement.productID }}</td>
      <td>{{ movement.amount }}</td>
      <td>{{ movement.date | date }}</td>
      <td>{{ movement.isImport ? 'Import' : 'Export' }}</td>
    </tr>
  </tbody>
</table>
